/*
 * This is a manifest file that'll be compiled into application.css, which will include all the files
 * listed below.
 *
 * Any CSS and SCSS file within this directory, lib/assets/stylesheets, vendor/assets/stylesheets,
 * or vendor/assets/stylesheets of plugins, if any, can be referenced here using a relative path.
 *
 * You're free to add application-wide styles to this file and they'll appear at the bottom of the
 * compiled file so the styles you add here take precedence over styles defined in any styles
 * defined in the other CSS/SCSS files in this directory. It is generally better to create a new
 * file per style scope.
 *


 */


@import url(http://fonts.googleapis.com/css?family=Philosopher:400,700|Marmelad&subset=latin,latin-ext,cyrillic,cyrillic-ext);

body
{
  padding: 60px 0px;
  font-weight: 700;
  text-decoration: none !important;
  font-family: 'Philosopher', 'sans-serif';
  font-size: 1.3em;
/*  background: -webkit-linear-gradient(90deg, #16222A 10%, #3A6073 90%); /* Chrome 10+, Saf5.1+ */
/*  background:    -moz-linear-gradient(90deg, #16222A 10%, #3A6073 90%); /* FF3.6+ */
/*  background:     -ms-linear-gradient(90deg, #16222A 10%, #3A6073 90%); /* IE10 */
/*  background:      -o-linear-gradient(90deg, #16222A 10%, #3A6073 90%); /* Opera 11.10+ */
/*  background:         linear-gradient(90deg, #16222A 10%, #3A6073 90%); /* W3C */

  background-color: #ccc;
        

}

.center{text-align: center;}

.back
{
  padding-top: 10px;
  background-color: rgba(255, 255, 255, 0.5);
  display: block;
  margin: 0 !important;
}

h1, h2, h3, h4, h5, h6
{
  color: #fff;
  font-family: 'Philosopher', 'sans-serif';
  text-shadow: 0 0 10px rgba(0,0,0,0.9);
}

a
{
  color: #fff;
  text-shadow: 0 0 10px rgba(0,0,0,0.3);
}

a:hover
{
  color: #fff;
  text-decoration: none;
  text-shadow: 0 0 10px rgba(0,0,0,0.9);
}

.center{text-align: center;}

.low_opacity{opacity: 1;}

.high_opacity{opacity: 0.7;}

/* INTRO */
.intro-section {
  margin-top: 70px;
}

.intro-section h5 {
  margin-top: 15px;
  margin-bottom: 70px;
}

.white-text {
  color: #ffffff;
}

i {color: #889BC4}

.nav>li>a:hover, .nav>li>a:focus{ background-color: transparent; }

.user-info
{
  padding: 10px 10px;
  min-height: 350px;
  max-height: 350px;
}



#big-video-wrap{overflow:hidden;position:fixed;height:100%;width:100%;top:0;left:0;}
#big-video-vid,#big-video-image{position:absolute;}
#big-video-control-container{position:fixed;bottom:0;padding:10px;width:100%;background:rgba(0,0,0,.25);
  -webkit-transition-duration:0.6s;-moz-transition-duration:0.6s;-ms-transition-duration:0.6s;-o-transition-duration:0.6s;transition-duration:0.6s;}
#big-video-control{width:100%;height:16px;position:relative;}
#big-video-control-middle{margin: 0 56px 0 24px;}
#big-video-control-bar{width:100%;height:16px;position:relative;cursor:pointer;}
#big-video-control-progress{position:absolute;top:7px;height:3px;width:0%;background:#fff;}
#big-video-control-track{position:absolute;top:8px;height:1px;width:100%;background:#fff;}
#big-video-control-bound-left{left:0;}
#big-video-control-bound-right{right:-1px}
#big-video-control-track .ui-slider-handle {opacity:0;}
#big-video-control-playhead{left:30%;}
#big-video-control-play{position:absolute;top:0;left:0;height:16px;width:16px;background-image:url('bigvideo.png');}
#big-video-control-timer{position:absolute;top:1px;right:0;color:#fff;font-size:11px;}
#big-video-control-playhead,#big-video-control-bound-left,#big-video-control-bound-right{position:absolute;top:0;height:16px;width:1px;background:#fff;}
#big-video-control .ui-slider-handle{border-left:solid 1px #fff; width:16px;height:16px;position:absolute;top:-8px;}
.transparent{-ms-filter:"progid:DXImageTransform.Microsoft.Alpha(Opacity=0)";filter:alpha(opacity=0);-moz-opacity:0;-khtml-opacity:0;opacity:0;}
.vjs-big-play-button{display:none !important;}
