default: &default
  adapter: mysql2
  encoding: utf8
  pool: 5
  username: root
  password: your_password
  socket: /var/run/mysqld/mysqld.sock

development:
  <<: *default
  database: broforce_dev

test:
  <<: *default
  database: broforce_test


production:
  <<: *default
  database: broforce_production